<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195266374056-0obcp9jin9mia0bft0tam2g820f2m437.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195266374056-0obcp9jin9mia0bft0tam2g820f2m437</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195266374056-73spqdc5464grn8k990dt581ig5ohtil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbxAIQHdpXHf-YnhuC_JpVjWJfLlfhOJI</string>
	<key>GCM_SENDER_ID</key>
	<string>195266374056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eachut.nepalsms</string>
	<key>PROJECT_ID</key>
	<string>nepalsms-43400</string>
	<key>STORAGE_BUCKET</key>
	<string>nepalsms-43400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195266374056:ios:b721fd7b8174e26393159d</string>
</dict>
</plist>